<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">
<head>
<f:loadBundle basename="de.stoneone.eib.error.unsupportedBrowser" var="messages" />
</head>
<body id="cas">
   <div style="width: 715px; margin: 0px auto;">
      <div id="table" style="width: 715px">
         <table style="margin-left: auto; margin-right: auto">
            <tr>
               <td>
                  <div id="s1_header">
                     <img src="/de.stoneone.eib.error/images/01.jpg" alt="StoneOne AG" />
                  </div></td>
            </tr>
            <tr>
               <td>
                  <h2>
                     <h:outputText value="#{messages['browser.unsupported.header']}" />
                  </h2></td>
            </tr>
            <tr>
               <td><h:outputText value="#{messages['browser.unsupported.text']}" />
               </td>
            </tr>
         </table>
      </div>
      <div id="footer" style="width: 660px; margin-top: 50px">
         <div>
            <p>Copyright &copy; 2008-2014 StoneOne AG. All rights reserved.</p>
         </div>
         <a href="http://www.stoneone.de"><img id="logo" src="/de.stoneone.eib.error/images/s1-logo.jpg" width="130"
            height="59" alt="StoneOne AG" title="go to StoneOne AG home" /> </a>
      </div>
   </div>
</body>
</html>