html, body, {
margin: 0;
padding: 0;
}


body {
	color: #000000;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 100.01%;
	margin: 0;
	padding: 1em 0;
	text-align: left;
}


.language {
	background-color: #ffffff;	
	text-align: right;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	vertical-align: bottom;
	padding-bottom: 6px;
}




.white {
	background-color: #ffffff;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
}

.box_left {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	height: 150px;
	width: 232px;
	padding: 0;
	margin: 0;
	background-color: #ffffff;
	border-top: solid 1px #0f6999;
	border-bottom: solid 1px #0f6999;
	border-left: solid 1px #0f6999;
}

.box_right {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	height: 150px;
	width: 233px;
	padding: 0;
	margin: 0;
	background-color: #ffffff;
	border: solid 1px #0f6999;
}

.box_allein {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	height: 100px;
	width: 233px;
	padding-top: 5;
	margin: 0;
	background-color: #ffffff;
	border: solid 1px #0f6999;
}

.button {
	background-image: url(../images/button.jpg);
	background-repeat: repeat-x;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-align: center;
	height: 25px;
}

.button_text {
	padding-top: 18px;
	vertical-align: middle;
}



.text_status {
	padding-left: 5px;
	margin-left: 2px;
	margin-right: 2px;
	padding-right: 5px;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	
}

.status {
	list-style-type: none;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	line-height: 13px;
}

.status_hg {
	background-image: url(../images/warning.jpg);
	background-repeat: no-repeat;
	height: 231px;
	width: 53px;
}

.menu_hg {
	background-image: url(../images/menu.jpg);
	background-repeat: no-repeat;
	height: 23px;
	padding-top: 18px;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	width: 176px;
}

.menu_headline {
	padding-left: 60px;
}

.menu {
	list-style-type: none;
	margin-left: 0.7em;
	padding-left: 0.7em;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	line-height: 18px;
	text-align: left;
}

.left {
	background-color: #5d5ca9;
}

.right {
	background-image: url(../images/right.jpg);
	background-repeat: repeat-y;
	width: 15px;
}

.wcontent {
	width: 772px;
	background-color: #ffffff;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	vertical-align: top;
}

.start_content {
	width: 750px;
	background-color: #acc8e7;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	vertical-align: top;
	border: solid 1px #5d5ca9;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

.start_grc {
	background-color: #acc8e7;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	vertical-align: top;
	border: solid 1px #5d5ca9;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

.content {
	width: 750px;
	background-color: #ffffff;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	vertical-align: top;
	border: solid 1px #5d5ca9;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}


/* Start DR_BUSINESSCASE-4  */
a:link {
	font-family: Verdana, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
}

a:hover {
	font-family: Verdana, Helvetica, sans-serif;
	color: #000000;
	text-decoration: underline;
}
/* Ende DR_BUSINESSCASE-4  */


#button_blue span {
	display: block;
	padding-top: 3px;
}

#button_blue a {
	display: block;
	background-image: url(../images/blau_copybutton_komplett.jpg);
	background-repeat: no-repeat;
	width: 88px;
	height: 29px;
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
}

.impressum {
	background-color: #ffffff;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
}

.footer {
	background-image: url(../images/footer.jpg);
	background-repeat: no-repeat;
	width: 964;
	height: 12;
}