* {
   margin: 0;
   padding: 0;
   border-width: 0;
}

body {
   background-color: white;
   font-family: Verdana, Arial, Helvetica, Sans-serif;
   color: black;
   font-size: 13px;
}

input[type=text],input[type=password],input[type=checkbox],textarea,select
   {
   border: 1px solid;
   border-color: #CCD7E2;
}

input[type=text].inputError,input[type=password].inputError,input[type=checkbox].inputError,textarea.inputError,select.inputError
   {
   border-color: red;
}

input[type=checkbox]:focus,input[type=text]:focus,input[type=password]:focus,select:focus,textarea:focus
   {
   background-color: #FFEFB6;
}

input[type=checkbox] {
   width: 16px;
   height: 16px;
}

input[type=button],input[type=submit] {
   cursor: pointer;
}

.divCustomClientLogo {
   position: absolute;
   top: 0;
   left: 0;
   height: 55px;
   width: 300px;
   background-repeat: no-repeat;
}

.divMainHeader {
   height: 170px;
   left: 0;
   position: absolute;
   right: 0;
   top: 0;
}

.divMainHeaderZIndex {
   z-index: 5;
}

.divMainBody {
   bottom: 1px;
   left: 0;
   position: absolute;
   right: 0;
   top: 171px;
}

.divNavigation { //
   bottom: 10px;
   position: absolute;
   top: 7px;
   left: 8px;
   width: 120px;
   padding-top: 4px;
   height: 95%;
}

.divBreadcrumb {
   height: 35px;
   left: 129px;
   position: absolute;
   right: 0;
   top: 7px;
   padding-top: 7px;
}

.lblBreadcrumb {
   margin-left: 16px;
}

.divContent {
   bottom: 0;
   left: 129px;
   position: absolute;
   right: 0;
   top: 43px;
}

.logo {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/gip_logo.gif);
}

.navigationButton {
   width: 108px;
   min-height: 56px;
   margin: 7px 0;
   padding-top: 60px;
   cursor: pointer;
   background: no-repeat top left;
}

.navigationButton:hover,.navigationButtonSelected {
   background-position: -108px 0;
   font-weight: bold;
}

.navigationButtonHome {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/navigation/home.png);
}

.navigationButtonTrip {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/navigation/travel.png);
}

.navigationButtonApplicationForLeave {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/navigation/applicationForLeave.png);
}

.navigationButtonTimeBooking {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/navigation/timeBooking.png);
}

.navigationButtonProfile {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/navigation/profile.png);
}

.navigationButtonAdmin {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/navigation/admin.png);
}

.navigationButtonHelp {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/navigation/help.png);
}

#divWelcome {
   height: 26px;
   text-align: right;
   padding-top: 30px;
   background: no-repeat bottom right;
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/main/top_bg.png);
}

#divWelcome input {
   margin-right: 250px;
   margin-left: 7px;
   padding-left: 5px;
   padding-right: 5px;
   text-align: center;
   background-repeat: repeat-x;
   background-position: 0 0;
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/main/button_bg.png);
   border: 1px solid;
   border-color: #ccd7e2;
}

#divWelcome input:hover {
   background-position: 0 -18px;
}

#divMenu {
   height: 33px;
   position: relative;
}

#divMenu .right-menu-bg {
   width: 358px;
   height: 33px;
   position: absolute;
   top: 0;
   right: 0;
   background-repeat: no-repeat;
   background-position: top right;
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/main/menu_bg.png);
}

#divMenu .logo {
   width: 33px;
   height: 33px;
   position: absolute;
   top: 0;
   right: 25px;
   background-repeat: no-repeat;
   background-position: top right;
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/main/logo.png);
}

.rich-toolbar {
   height: 32px;
   border: 0;
   empty-cells: show;
   background-color: #b8d0e2;
   background-image: none;
}

.rich-toolbar-item {
   padding: 0;
   border-right-style: solid;
   border-right-width: 1px;
   border-right-color: white;
   cursor: pointer;
}

.rich-ddmenu-label,div.ptravel-menu-item-top {
   padding: 8px 16px;
   border-style: solid;
   border-width: 1px;
   border-color: #c5d1de;
   height: 14px;
   background-repeat: repeat-x;
   background-position: top left;
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/main/menu_button_bg.png);
}

.rich-ddmenu-label:hover,div.ptravel-menu-item-top:hover {
   background-position: 0 -30px;
   border-color: #fc9537;
}

.rich-label-text-decor,.rich-menu-item-label {
   font-weight: normal;
}

.rich-menu-list-border {
   background-color: #b8d0e2;
   border-color: white;
}

.rich-menu-item,.rich-menu-group {
   padding: 5px 10px;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-bottom-color: white;
}

.rich-menu-item-hover,.rich-menu-group-hover {
   border: none;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-bottom-color: white;
   background-color: #fc9537;
}

.rich-menu-list-bg {
   background-image: none;
   border: none;
}

.rich-menu-item-icon,.rich-menu-group-icon {
   display: none;
}

.rich-menu-node {
   top: 4px;
   right: -2px;
}

.rich-panel,.rich-stglpanel {
   border: none;
}

.rich-stglpanel-header,.rich-panel-header {
   height: 19px;
   padding-left: 8px;
   padding-top: 6px;
   background: #FAFCFE;
   border-color: #CCD7E2;
   background-image: none;
}

.rich-tabpanel-content {
   padding: 15px 10px 10px;
}

.divNavigation .rich-panel {
   padding: 0;
   border-color: #CCD7E2;
   border-width: 1px;
   border-style: solid;
   height: 100%;
   overflow-x: hidden;
   overflow-y: auto;
}

.divNavigation .rich-panel-body {
   text-align: center;
   padding: 14px 3px 40px;
   width: 108px;
}

.divNavigation .rich-panel-header {
   padding-top: 3px;
   height: 19px;
   border: medium none;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-bottom-color: #CCD7E2;
   background-image: none;
   background-color: #FAFCFE;
}

.rich-panelbar {
   padding: 0;
   border-color: #CCD7E2;
}

.rich-panelbar-b {
   height: 500px;
}

.rich-panelbar-content {
   text-align: center;
   padding: 14px 5px 11px 5px;
   width: 108px;
}

.rich-panelbar-header,.rich-panelbar-header-act {
   padding-top: 3px;
   height: 19px;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-bottom-color: #CCD7E2;
   background-image: none;
   background-color: #FAFCFE;
}

.rich-table {
   border-style: solid;
   border-width: 1px;
   border-color: #CCD7E2;
   border-collapse: separate;
}

.rich-table-thead,.rich-table-header,.rich-table-header-continue {
   background-color: #D9E6F0;
   background-image: none;
}

.rich-table-cell {
   border-bottom-color: white;
   border-right-color: #CCD7E2;
   overflow: hidden;
   text-align: center;
   width: auto;
   padding: 5px;
}

.rich-table-headercell {
   padding: 5px;
}

.rich-table-cell:last-child,.rich-table-subheadercell:last-child,.rich-table-headercell:last-child
   {
   border-right: 0 none;
}

.rich-table-cell .languageFlagImage {
   margin-bottom: -7px;
   margin-right: 8px;
}

.rich-table-subheader {
   background-color: #D9E6F0;
}

.rich-table-row,rich-table-subheader {
   line-height: 1em;
}

.rich-table-subheadercell {
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-bottom-color: white;
   border-right-color: #CCD7E2;
   overflow: hidden;
   width: auto;
   padding: 5px;
}

.rich-mpnl-mask-div-opaque {
   opacity: .75;
   background-color: white;
}

.rich-mpnl-content {
   border: none;
}

.rich-messages.errorList {
   min-height: 110px;
}

.rich-mp-content-table {
   border-style: solid;
   border-width: 1px;
   border-color: #9EB2C2;
}

.rich-mpnl-controls {
   right: 6px;
   top: 6px;
}

.rich-mpnl-header {
   height: 18px;
   border: none;
   padding-left: 8px;
   padding-top: 4px;
   padding-bottom: 0;
   background-repeat: repeat-x;
   background-position: top left;
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/panel/modalPanel_header_bg.png);
}

.rich-mpnl-header-cell {
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-bottom-color: #9EB2C2;
}

.rich-picklist-source-items,.rich-picklist-target-items {
   margin: o;
   border-color: #CCD7E2;
}

.divToolbar {
   height: 80px;
   clear: both;
   background-repeat: repeat-x;
   background-position: top right;
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/main/toolbar_right_bg.png);
   white-space: nowrap;
   overflow: auto;
}

.toolbarGroup {
   height: 80px;
   display: inline-block;
   padding-left: 8px;
   padding-right: 40px;
   background-repeat: no-repeat;
   background-position: top right;
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/main/toolbar_left_bg.png);
}

.toolbarGroup h2 {
   height: 15px;
   margin-left: 22px;
   margin-top: 10px;
   font-size: 1em;
   font-weight: normal;
}

.toolbarButton {
   margin: 5px 3px 0;
   background-color: transparent;
   background-position: 0 0;
   background-repeat: no-repeat;
   border: none;
   height: 40px;
   width: 40px;
}

.toolbarButton:hover,.toolbarButton_hovered {
   background-position: -40px 0;
}

input[type="button"].toolbarButtonDisabled,input[type="button"].toolbarButtonDisabled:hover
   {
   background-position: -80px 0;
   cursor: default;
}

.toolbarButtonAdd {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/add.png);
}

.toolbarButtonCompanyAdd {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/company_add.png);
}

.toolbarButtonCompanyBack {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/company_back.png);
}

.toolbarButtonCompanyProtocol {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/company_protocol.png);
}

.toolbarButtonTripAdd {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/trip_add.png);
}

.toolbarButtonTripAddOthers {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/trip_add_others.png);
}

.toolbarButtonTripApprove {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/trip_approve.png);
}

.toolbarButtonTripArchive {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/trip_archive.png);
}

.toolbarButtonTripBack {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/trip_back.png);
}

.toolbarButtonTripCancel {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/trip_cancel.png);
}

.toolbarButtonTripCancelOthers {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/trip_cancel_others.png);
}

.toolbarButtonTripClose {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/trip_close.png);
}

.toolbarButtonTripCloseOthers {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/trip_close_others.png);
}

.toolbarButtonTripCloseAll {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/trip_close_all.png);
}

.toolbarButtonTripCollectionAdd {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/tripcollection_add.png);
}

.toolbarButtonTripCollectionAddOthers {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/tripcollection_add_others.png);
}

.toolbarButtonTripCollectionForward {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/tripcollection_forward.png);
}

.toolbarButtonTripCollectionForwardOthers {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/tripcollection_forward_others.png);
}

.toolbarButtonTripCollectionPrint {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/tripcollection_print.png);
}

.toolbarButtonTripCollectionPrintOthers {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/tripcollection_print_others.png);
}

.toolbarButtonTripCollectionApprove {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/tripcollection_approve.png);
}

.toolbarButtonTripCollectionReject {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/tripcollection_reject.png);
}

.toolbarButtonTripCopy {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/trip_copy.png);
}

.toolbarButtonTripCopyOthers {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/trip_copy_others.png);
}

.toolbarButtonTripForward {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/trip_forward.png);
}

.toolbarButtonTripForwardOthers {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/trip_forward_others.png);
}

.toolbarButtonTripOpenAll {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/trip_openall.png);
}

.toolbarButtonTripPrint {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/trip_print.png);
}

.toolbarButtonTripPrintOthers {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/trip_print_others.png);
}

.toolbarButtonTripProtocol {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/trip_protocol.png);
}

.toolbarButtonTripProtocolOthers {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/trip_protocol_others.png);
}

.toolbarButtonTripReject {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/trip_reject.png);
}

.toolbarButtonTripReopen {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/trip_reopen.png);
}

.toolbarButtonTripReopenOthers {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/trip_reopen_others.png);
}

.toolbarButtonTripSetFlag {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/trip_setflag.png);
}

.toolbarButtonTripViewCockpit {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/trip_view_cockpit.png);
}

.toolbarButtonTripViewTabs {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/trip_view_tabs.png);
}

.toolbarButtonTripWithdraw {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/trip_withdraw.png);
}

.toolbarButtonTripWithdrawOthers {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/trip_withdraw_others.png);
}

.toolbarButtonUserAdd {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/user_add.png);
}

.toolbarButtonUserBack {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/user_back.png);
}

.toolbarButtonUserBlock {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/user_block.png);
}

.toolbarButtonUserProtocol {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/user_protocol.png);
}

.toolbarButtonUserUnblock {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/user_unblock.png);
}

.toolbarButtonOBT {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/toolbar/trip_openWSOBT.png);
}

.headInfoHeader h1 {
   font-size: 1.6em;
   font-weight: normal;
}

.headInfoDetails {
   display: inline-block;
   margin-top: 16px;
}

.headInfoDetails td.mid {
   width: 32px;
}

.headInfoDetails .big {
   font-weight: bold;
   margin-left: 5px;
}

.dynamicWorkflowStages {
   position: absolute;
   top: 10px;
   left: 30%;
   height: 34px;
   text-align: center;
}

.dynamicWorkflowStages div {
   display: inline-block;
   margin-right: 10px;
   width: 34px;
   height: 34px;
   background-color: transparent;
   background-position: 0 0;
   background-repeat: no-repeat;
}

.dynamicWorkflowStages div.enumstaticWorkflowStaterequestedForApproval {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/dynamicWorkflowStates/enumstaticWorkflowStaterequestedForApproval.png);
}

.dynamicWorkflowStages div.enumstaticWorkflowStatereceivedRequestForApproval
   {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/dynamicWorkflowStates/enumstaticWorkflowStatereceivedRequestForApproval.png);
}

.dynamicWorkflowStages div.enumstaticWorkflowStatecancelled {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/dynamicWorkflowStates/enumstaticWorkflowStatecancelled.png);
}

.dynamicWorkflowStages div.enumstaticWorkflowStaterejected {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/dynamicWorkflowStates/enumstaticWorkflowStaterejected.png);
}

.dynamicWorkflowStages div.enumstaticWorkflowStatereceivedRejectionByTraveler
   {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/dynamicWorkflowStates/enumstaticWorkflowStatereceivedRejectionByTraveler.png);
}

.dynamicWorkflowStages div.enumstaticWorkflowStatereceivedRejectionByApprover
   {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/dynamicWorkflowStates/enumstaticWorkflowStatereceivedRejectionByApprover.png);
}

.dynamicWorkflowStages div.enumstaticWorkflowStateapproved {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/dynamicWorkflowStates/enumstaticWorkflowStateapproved.png);
}

.dynamicWorkflowStages div.enumstaticWorkflowStatereceivedFinalApprovalByTraveler
   {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/dynamicWorkflowStates/enumstaticWorkflowStatereceivedFinalApprovalByTraveler.png);
}

.dynamicWorkflowStages div.enumstaticWorkflowStatecreated {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/dynamicWorkflowStates/enumstaticWorkflowStatecreated.png);
}

.dynamicWorkflowStages div.Reisender {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/dynamicWorkflowStates/Traveler.png);
}

.dynamicWorkflowStages div.Genehmiger {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/dynamicWorkflowStates/Approver.png);
}

.dynamicWorkflowStages div.ReisenderFinale {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/dynamicWorkflowStates/Final.png);
}

.dynamicWorkflowStages div.dynamicWorkflowStageSpacer {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/dynamicWorkflowStates/dynamicWorkflowStageSpacer.png);
}

.nobFlag {
   display: inline-block;
   font-size: .8em;
   margin-left: 25px;
}

.tripSummaryInfoPanel {
   position: absolute;
   top: -30px;
   right: 28px;
   width: 418px;
   z-index: 1;
}

.tripSummaryInfoPanel .inputBox label,.tripSummaryInfoPanelSmall .inputBox label
   {
   width: 65%;
}

.tripSummaryInfoPanel .inputBox .output,.tripSummaryInfoPanelSmall .inputBox .output
   {
   width: 33%;
}

.tripSummaryInfoPanel .inputBox .output .outputText,.tripSummaryInfoPanelSmall .inputBox .output .outputText
   {
   float: right;
}

.tripSummaryInfoPanel .rich-stglpanel-body {
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-bottom-color: #CCD7E2;
   border-left-style: solid;
   border-left-width: 1px;
   border-left-color: #CCD7E2;
   border-right-style: solid;
   border-right-width: 1px;
   border-right-color: #CCD7E2;
}

.tripSummaryInfoPanelSmall {
   position: absolute;
   top: 0;
   right: 29px;
   width: 400px;
   font-weight: bold;
   padding: 4px 8px 5px;
   border-style: solid;
   border-width: 1px;
   border-color: #CCD7E2;
}

.tripSummaryInfoPanel .hr {
   margin-bottom: 5px;
   margin-top: 5px;
   height: 1px;
   width: 100%;
   clear: both;
   background-color: #CCD7E2;
}

.headInfoDetails .separator {
   margin: 3px 0;
   height: 1px;
   width: 100%;
   background-color: #F4F8FE;
}

.statusStart {
   position: absolute;
   height: 16px;
   width: 16px;
   top: 10px;
   right: 33px;
   z-index: 100;
   background-color: transparent;
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/spinner.gif);
}

.home {
   padding: 10px;
}

.home p {
   margin: 15px 0;
}

.home li {
   margin: 5px 0;
}

.home ul {
   margin: 5px 30px;
   list-style-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/login/dot.png);
}

.divBrowser {
   bottom: 0;
   left: 0;
   padding: 10px;
   overflow-x: hidden;
   overflow-y: auto;
   position: absolute;
   right: 0;
   top: 0;
}

.divBrowser .rich-stglpanel-body {
   min-height: 30px;
}

.divBrowserInline {
   bottom: 0;
   left: 0;
   right: 0;
   top: 0;
}

.divBrowserTripHeader {
   padding: 0 16px;
}

.divBrowserTrip {
   top: 110px;
}

.divBrowserTrip .rich-stglpanel {
   margin-bottom: 10px;
}

.divFilterContainer,.divSearchContainer {
   margin-bottom: 10px;
   overflow-y: auto;
}

.divDetailContainer {
   margin-bottom: 10px;
   overflow-y: auto;
}

.divListContainer {
   overflow-y: auto;
}

.divReportParametersContainer {
   margin-bottom: 0;
   margin-top: 0;
   margin-left: 0;
   margin-right: 0;
   bottom: 0;
   left: 0;
   right: 0;
   top: 0;
   overflow-y: auto;
   border: none;
}

.divReportParametersHeader {
   border: none;
}

.divReportParametersBody {
   background-color: #F3F3F3;
}

.tripListBrowser {
   bottom: 0;
   left: 0;
   overflow-x: hidden;
   overflow-y: auto;
   position: relative;
   right: 0;
   top: 0;
}

.confirmPanel {
   width: 100%;
}

.confirmTextPanel {
   padding: 10px;
}

.confirmButtonPanel {
   text-align: right;
}

.editButtonPanel,.viewButtonPanel {
   clear: both;
   height: 40px;
   float: right;
   margin-right: 12px;
}

.editErrorPanel {
   clear: left;
   margin-left: 10px;
}

.panelButton {
   background-color: transparent;
   background-position: 0 0;
   background-repeat: no-repeat;
   cursor: pointer;
   height: 40px;
   width: 40px;
}

.panelButton:hover {
   background-position: -40px 0;
}

.panelButtonDisabled,.panelButtonDisabled:hover {
   background-position: -80px 0;
   cursor: default;
}

.cancelButton {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/form/cancel.png);
}

.closeButton {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/form/close.png);
}

.editButton {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/form/edit.png);
}

.saveButton {
   margin-right: 6px;
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/form/save.png);
}

.saveAndOpenButton {
   margin-right: 6px;
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/form/save.png);
}

.yesButton {
   margin-right: 6px;
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/form/ok.png);
}

.noButton {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/form/cancel.png);
}

.searchButton {
   margin-right: 6px;
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/form/search.png);
}

.resetSearchButton {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/form/search_delete.png);
}

.modalDlgCloseButton {
   width: 16px;
   height: 16px;
   cursor: pointer;
   background-repeat: no-repeat;
   background-position: top left;
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/form/closeDlg.png);
}

.modalDlgCloseButton:hover {
   background-position: -16px;
}

.editPanel,.viewPanel,.displayPanel,.searchPanel {
   text-align: right;
}

.editPanel {
   clear: both;
   margin-left: 10px;
   overflow-x: hidden;
   overflow-y: auto;
   padding-top: 5px;
}

.viewPanel {
   clear: both;
   margin-left: 10px;
   margin-right: 0;
   overflow-x: hidden;
   overflow-y: auto;
}

.displayPanel {
   margin-left: 8px;
   margin-right: 90px;
}

.searchPanel {
   margin-left: 8px;
   margin-right: 187px;
}

.buttonSearchPanel,.buttonInputPanel {
   float: right;
   height: 0;
}

.editPanel div.hr,.viewPanel div.hr,.displayPanel div.hr,.searchPanel div.hr
   {
   height: 1px;
   width: 100%;
   padding: 5px 0;
   clear: both;
   text-align: left;
}

.editPanel div.hr.hide,.viewPanel div.hr.hide,.displayPanel div.hr.hide,.searchPanel div.hr.hide
   {
   display: none;
}

div.hr .hrLine {
   background-color: #CCD7E2;
   height: 1px;
   width: 96.8%;
}

.leftPanel {
   width: 49.5%;
   display: inline-block;
   vertical-align: top;
   text-align: left;
   float: left;
}

.rightPanel {
   width: 49.5%;
   display: inline-block;
   vertical-align: top;
   text-align: left;
}

.fullPanel {
   text-align: left;
}

.inputBox {
   width: 100%;
   padding: 4px 0 4px;
   display: inline-block;
}

.inputBox label {
   display: inline-block;
   vertical-align: top;
   white-space: nowrap;
   width: 52%;
}

.fullPanel .inputBox label {
   width: 25.7%;
}

.inputBox .input,.inputBox .output {
   display: inline-block;
   width: 40%;
}

.fullPanel .inputBox .input,.fullPanel .inputBox .output {
   display: inline-block;
   width: 70.3%;
}

.fullPanel .inputBox .dataTable .input,.fullPanel .inputBox .dataTable .output
   {
   width: 100%;
}

.fullPanel .inputBox .dataTable .input.error {
   width: 80%;
}

.input input[type=text],.input input[type=password],.input textarea,.input select[multiple=multiple]
   {
   width: 100%;
}

.input select {
   width: 100.5%;
}

.input input[type=text].withUnit,.input input[type=password].withUnit,.input select[multiple=multiple].withUnit
   {
   width: 66%;
}

.input .unit,.input .timeUnit,.input .timeOutput,.output .unit,.output .timeUnit,.output .timeOutput
   {
   margin-left: 8px;
}

.input select.withUnit {
   width: 66.5%;
}

.fullPanel .input select.withUnit {
   width: 90%;
}

.input input[type=text].dateInput {
   margin-top: -2px;
   width: 38%;
}

.input input[type=text].timeInput {
   float: none;
   width: 22%;
}

.input .calendarIcon {
   margin: -2px 5px 0;
}

.input .timeUnit {
   margin-left: 8px;
}

.fullPanel .dataTable .input input[type=checkbox] {
   text-align: center;
   float: none;
   margin-left: 7px;
}

.helpDot {
   width: 20px;
   height: 20px;
   cursor: pointer;
   margin-top: -1px;
   margin-right: 8px;
   display: inline-block;
   float: right;
   background-repeat: no-repeat;
   background-position: top left;
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/table/information.png);
}

.exchangeRateButton {
   width: 20px;
   height: 20px;
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/table/view.png);
}

.input input.exchangeRate[type="text"] {
   width: 25%;
}

.fullPanel .input input.exchangeRate[type="text"] {
   width: 10%;
}

.helpDot:hover {
   background-position: -20px top;
}

.inputRequired {
   color: red;
   margin-left: 8px;
}

.inputSmallErrorIcon {
   width: 16px;
   height: 16px;
   margin-top: 1px;
   margin-left: 4px;
   vertical-align: top;
   display: inline-block;
   background-repeat: no-repeat;
   background-position: top left;
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/icons/error_marker.gif);
}

.inputErrorIcon {
   width: 16px;
   height: 16px;
   background-repeat: no-repeat;
   background-position: top left;
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/icons/error_marker.gif);
}

.inputError {
   color: red;
}

.editErrorPanel .inputErrorIcon {
   position: absolute;
}

.editErrorPanel .rich-messages {
   padding-top: 6px;
}

.editErrorPanel .rich-messages dt {
   margin-bottom: 4px;
}

.editErrorPanel .rich-messages-label {
   color: red;
   margin-left: 25px;
   white-spaces: nowarp;
}

.dataTable {
   width: 100%;
   table-layout: fixed;
}

.dataTableFooter {
   height: 38px;
}

.datascrollerText {
   float: right;
   margin-top: 17px;
}

.pageInfo {
   float: left;
   margin-top: 10px;
   margin-left: 8px;
}

.pageInfo select {
   margin-left: 10px;
   width: 50px;
}

.rich-datascr {
   float: right;
   margin: 8px 8px 0 14px;
}

.rich-dtascroller-table {
   background-color: white;
   border-color: #CCD7E2;
}

.rich-datascr-button-dsbld {
   color: #CCD7E2;
}

.rich-datascr-button,.rich-datascr-ctrls-separator {
   background-color: #ECF3FD;
   border-color: #CCD7E2;
   padding: 3px;
}

.rich-datascr-inact:hover {
   background-color: #FF9330;
   border-top-color: #FF9330;
}

.rowEven {
   background-color: #ECF3FD;
}

.rowOdd {
   background-color: #DFEBFC;
}

.rowSelected {
   background-color: #bed6f8;
}

.rowEven:hover,.rowOdd:hover {
   background-color: #FF9330;
}

.colAuto {
   padding-left: 5px;
   padding-right: 5px;
   text-align: left;
}

.colAuto span {
   white-space: nowrap;
}

.colCheckbox {
   width: 30px;
   padding: 0;
}

.colCurrencyName {
   padding-left: 10px;
   padding-right: 10px;
   text-align: center;
   width: 100px;
}

.colCurrency {
   padding-left: 10px;
   padding-right: 10px;
   text-align: right;
   width: 100px;
}

.colCurrencyBig {
   padding-left: 10px;
   padding-right: 10px;
   text-align: right;
   width: 140px;
}

.colDate {
   width: 80px;
}

.colDouble {
   padding-left: 10px;
   padding-right: 10px;
   text-align: right;
   width: 100px;
}

.colIcon {
   width: 30px;
}

.colIcon2x {
   width: 60px;
}

.colIcon3x {
   width: 90px;
}

.colIcon7x {
   width: 210px;
}

.colPosition {
   width: 80px;
}

.colTime {
   width: 60px;
}

.header {
   text-align: center;
}

.header.specialBottom {
   border-bottom-color: white;
}

.header.noEndCol {
   border-right-width: 1px;
   border-right-style: solid;
   border-right-color: #CCD7E2;
}

.header.endCol {
   border-right: 0 none;
}

.buttonIcon,.dataTableIcon {
   background-color: transparent;
   background-position: 0 0;
   background-repeat: no-repeat;
   border: none;
   height: 20px;
   width: 20px;
}

.dataTableIcon {
   display: inline-block;
}

input[type=button].dataTableIcon:hover,input[type=button].buttonIcon:hover
   {
   background-position: -20px;
}

.iconDisabled,input[disabled=disabled].dataTableIcon,input[disabled=disabled].buttonIcon,input[disabled=disabled].dataTableIcon:hover,input[disabled=disabled].buttonIcon:hover
   {
   background-position: -40px;
   cursor: default;
}

.iconSpacer {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/icons/spacer.gif);
}

.iconAdd {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/table/add.png);
}

.iconDelete {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/table/delete.png);
}

.iconDone {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/icons/done.gif);
}

.iconEdit {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/table/edit.png);
}

.iconEditAll {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/table/edit_all.png);
}

.iconJobStart {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/table/job_start.png);
}

.iconReset {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/icons/no.gif);
}

.iconSave {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/icons/save.gif);
}

.iconSearch {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/icons/search.gif);
}

.iconSelect {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/table/select.png);
}

.iconView {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/table/view.png);
}

.iconViewAll {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/table/view_all.png);
}

.iconClose {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/icons/close.gif);
}

.iconNo {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/table/no.png);
}

.iconYes {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/table/yes.png);
}

.iconNotRequired {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/icons/not_required.gif);
}

.iconUp {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/table/arrow_up.png);
}

.iconDown {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/table/arrow_down.png);
}

.iconArchivedDocuments {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/table/archived_documents.png);
}

.iconArchivedDocumentsMultiple {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/table/archived_documents_multiple.png);
}

.languageFlagImage {
   display: inline-block;
   width: 24px;
   height: 24px;
}

.languageFlagImage_de {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/flags/de.png);
}

.languageFlagImage_en {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/flags/en.png);
}

.languageFlagImage_fr {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/flags/fr.png);
}

.input .remarks,.input .remarksMoreCount {
   margin-top: 5px;
}

.remarksMoreCount {
   font-size: .8em;
}

.remarks {
   list-style-type: none;
}

.remark .header {
   margin-bottom: 5px;
   text-align: left;
   font-weight: bold;
}

.remark .text {
   margin-bottom: 5px;
}

.remarks.hide,.remarksMoreCount.hide {
   display: none;
}

.remarkInput {
   display: block;
}

.remarkViewToggleIcon {
   float: right;
   width: 20px;
   height: 16px;
   cursor: pointer;
   background-position: 0 -2px;
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/panel/panel_close3.png);
}

.remarkViewToggleIcon.down {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/panel/panel_open3.png);
}

.dialogTest {
   position: absolute;
   top: 0;
   right: 0;
   width: 10px;
   height: 10px;
   z-index: 6;
}

.errorTest {
   position: absolute;
   top: 0;
   right: 10px;
   width: 10px;
   height: 10px;
   z-index: 6;
}

.wrapper {
   margin: 0 auto;
   width: 1024px;
   height: 768px;
}

.horizontalLine {
   background-color: #dadada;
   height: 1px;
}

.systemMessages h2,.loginFormHeader h2 {
   font-size: 1.3em;
   font-weight: bold;
   color: #e46600;
}

.loginHeader .horizontalLine {
   margin-left: 98px;
}

#logo {
   margin: 10px 15px 38px 10px;
   float: left;
}

#logoCaption {
   padding-top: 25px;
   padding-bottom: 16px;
   color: #3c5d7d;
   font-size: 1.5em;
}

#middle {
   clear: both;
}

#left-col {
   float: left;
}

#left-col h2 {
   margin-bottom: 27px;
   margin-left: 24px;
   color: #E46600;
}

.fotos {
   width: 637px;
   height: 524px;
   display: inline-block;
   background-repeat: no-repeat;
   background-position: top left;
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/login/fotos.jpg);
}

.verticalLine {
   width: 1px;
   height: 517px;
   display: inline-block;
   background-repeat: no-repeat;
   background-position: top left;
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/login/verticalLine.png);
}

#right-col {
   margin-left: 640px;
}

#right-col .horizontalLine {
   margin: 42px 34px 42px 8px;
}

.inputData,.systemMessages,#logoutdata {
   margin-left: 15px;
}

.loginFormHeader {
   padding-top: 55px;
}

.inputData h2,#logoutdata h2 {
   padding-bottom: 14px;
}

.loginInputBox {
   margin-bottom: 7px;
}

.statusSpinner {
   width: 16px;
   height: 16px;
   float: right;
   margin-right: 20px;
   background-repeat: no-repeat;
   background-position: top left;
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/spinner.gif);
}

.loginInputBox input {
   width: 209px;
   height: 17px;
   border-style: solid;
   border-width: 1px;
   border-color: #dadada;
   float: right;
}

.loginInputBox input:focus {
   background-color: #ffefb6;
}

.loginInputBox input,.loginFooter {
   margin-right: 42px;
}

.loginInputBox label.lostPassw_intro {
   padding-right: 42px;
   font-size: .8em;
}

.loginInputBox .captchaImage {
   margin-left: 117px;
}

.inputData .rich-messages {
   margin-top: 14px;
   color: red;
   font-size: .8em;
}

.loginFooter {
   margin-top: 9px;
   text-align: right;
}

.loginFooter a,.loginInputBox a {
   padding-right: 19px;
   color: black;
   font-size: .8em;
}

.loginFooter input[type=submit] {
   width: 76px;
   background-repeat: repeat-x;
   background-position: top left;
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/login/button_bg.png);
   border-style: solid;
   border-width: 1px;
   border-color: #ccd7e2;
}

.loginFooter input[type=submit]:hover {
   background-position: 0 -18px;
   cursor: pointer;
}

.loginFooter .cancelButton {
   margin-right: 6px;
}

.systemMessages h2 {
   padding-bottom: 14px;
}

.systemMessages ul {
   margin-left: 19px;
   list-style-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/login/dot.png);
}

.systemMessages li {
   padding-bottom: 20px;
}

.red-bold {
   color: red;
   font-weight: bold;
}

.footer {
   clear: both;
   padding-top: 5px;
}

.versionInfo {
   color: #999;
   font-size: .8em;
}

.footer .horizontalLine {
   height: 1px;
   background-color: #3c5d7d;
}

.footerImage {
   width: 1024px;
   height: 67px;
   background-repeat: no-repeat;
   background-position: top left;
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalde/gipmbh/webskin/gip/images/login/footer.png);
}

.approveRejectMessages {
   margin-top: 20px;
}

.approveRejectMessages .errorLabel {
   font-size: 1.2em;
   color: red;
}

.approveRejectMessages .infoLabel {
   font-size: 1.2em;
   color: green;
}