.rich-container input,.rich-input,.rich-container select,.rich-select,.rich-container textarea,.rich-textarea,.rich-container button,.rich-button,.rich-container keygen,.rich-keygen,.rich-container isindex,.rich-isindex,.rich-container legend,.rich-legend,.rich-container a,.rich-link,.rich-container fieldset,.rich-fieldset,.rich-field,.rich-field-edit,.rich-field-error,.rich-button,.rich-button-disabled,.rich-button-over,.rich-button-press
   {
   font-size: 1em;
   font-family: Verdana, Arial, Helvetica, Sans-serif;
   color: #000;
}

.rich-container fieldset,.rich-fieldset {
   border-width: 1px;
   border-style: solid;
   padding: 10px;
}

.rich-container hr,.rich-hr {
   border-width: 1px;
   border-style: solid;
}

.rich-container legend,.rich-legend {
   font-weight: bold;
}

.rich-container form,.rich-form {
   padding: 0;
   margin: 0;
}

.rich-container fieldset,.rich-fieldset {
   border-color: #CCD7E2;
}

.rich-container hr,.rich-hr {
   border-color: #CCD7E2;
}

.rich-container a,.rich-link {
   color: #0078D0;
}

.rich-container a:hover,.rich-link:hover {
   color: #0090FF;
}

.rich-container a:visited,.rich-link:visited {
   color: #0090FF;
}

.rich-field,.rich-field-edit,.rich-field-error {
   border-width: 1px;
   border-style: inset;
   border-color: #CCD7E2;
}

.rich-field {
   background-color: #fff;
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.images.ButtonBackgroundImage/DATB/eAFjYGBg-P!9049r-5gAGWgFdw__);
   background-repeat: no-repeat;
   background-position: 1px 1px;
}

.rich-field-edit {
   background-color: #FEFFDA;
}

.rich-field-error {
   background-color: #F00;
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.images.InputErrorIcon/DATB/eAF79uw!AAWAAsw_);
   background-repeat: no-repeat;
   background-position: center left;
   padding-left: 7px;
}

.rich-button,.rich-button-disabled,.rich-button-over,.rich-button-press
   {
   border-width: 1px;
   border-style: solid;
   border-color: #CCD7E2;
   background-color: #D6E6FB;
   padding: 2px 10px 2px 10px;
   text-align: center;
   cursor: pointer;
   background-repeat: repeat-x;
   background-position: top left;
}

.rich-button {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.images.StandardButtonBgImage/DATB/eAFjYGBg-Pflze9n15gAGZ0FmA__);
}

.rich-button-disabled {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.images.StandardButtonBgImage/DATB/eAFjYGBg-Pflze9n15gAGZ0FmA__);
}

.rich-button-over {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.images.StandardButtonBgImage/DATB/eAFjYGBg-Pflze9n15gAGZ0FmA__);
}

.rich-button-press {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.images.StandardButtonPressedBgImage/DATB/eAFjYGBg-P3s2r8vb5gAGSgFmA__);
   background-position: bottom left;
}

.rich-box-border-color-control-select {
   border-color: #E79A00;
}

.rich-box-border-color-subborder {
   border-color: #fff;
}

.rich-box-border-color-header {
   border-color: #BED6F8;
}

.rich-box-border-color-general {
   border-color: #FFF;
}

.rich-box-border-color-additional {
   border-color: #ECF4FE;
}

.rich-box-border-color-panel {
   border-color: #CCD7E2;
}

.rich-box-border-color-tip {
   border-color: #E5973E;
}

.rich-box-border-color-table {
   border-color: #CCD7E2;
}

.rich-box-border-control-select,.rich-box-border-subborder,.rich-box-border-header,.rich-box-border-general,.rich-box-border-additional,.rich-box-border-panel,.rich-box-border-tip,.rich-box-border-table
   {
   border-style: solid;
   border-width: 1px;
}

.rich-box-border-control-select {
   border-color: #E79A00;
}

.rich-box-border-subborder {
   border-color: #fff;
}

.rich-box-border-header {
   border-color: #BED6F8;
}

.rich-box-border-general {
   border-color: #FFF;
}

.rich-box-border-additional {
   border-color: #ECF4FE;
}

.rich-box-border-panel {
   border-color: #CCD7E2;
}

.rich-box-border-tip {
   border-color: #E5973E;
}

.rich-box-border-table {
   border-color: #CCD7E2;
}

.rich-box-bgcolor-header {
   background-color: #BED6F8;
}

.rich-box-bgcolor-general {
   background-color: #FFF;
}

.rich-box-bgcolor-additional {
   background-color: #ECF4FE;
}

.rich-box-bgcolor-tab {
   background-color: #C6DEFF;
}

.rich-box-bgcolor-trim {
   background-color: #D6E6FB;
}

.rich-box-bgcolor-tip {
   background-color: #FAE6B0;
}

.rich-box-bgcolor-table {
   background-color: #FFF;
}

.rich-box-bgcolor-table-footer {
   background-color: #ccc;
}

.rich-box-bgcolor-table-subfooter {
   background-color: #f1f1f1;
}

.rich-box-bgcolor-editor {
   background-color: #F1F1F1;
}

.rich-box-bgcolor-edit {
   background-color: #FEFFDA;
}

.rich-text-color-header {
   color: #000;
}

.rich-text-color-general {
   color: #000;
}

.rich-text-color-tab-disabled {
   color: #8DB7F3;
}

.rich-text-color-select {
   color: #E79A00;
}

.rich-text-color-link-general {
   color: #0078D0;
}

.rich-text-color-link-hover {
   color: #0090FF;
}

.rich-text-color-link-visited {
   color: #0090FF;
}

.rich-font-size-general {
   font-size: 1em;
}

.rich-font-size-header {
   font-size: 1em;
}

.rich-font-family-general {
   font-family: Verdana, Arial, Helvetica, Sans-serif;
}

.rich-font-family-header {
   font-family: Verdana, Arial, Helvetica, Sans-serif;
}

.rich-text-general {
   font-size: 1em;
   font-family: Verdana, Arial, Helvetica, Sans-serif;
   color: #000;
}

.rich-text-header {
   font-size: 1em;
   font-family: Verdana, Arial, Helvetica, Sans-serif;
   color: #000;
}

.rich-text-tab-disabled {
   font-size: 1em;
   font-family: Verdana, Arial, Helvetica, Sans-serif;
   color: #8DB7F3;
}

.rich-text-control-select {
   font-size: 1em;
   font-family: Verdana, Arial, Helvetica, Sans-serif;
   color: #E79A00;
}

.rich-gradient-header-inverse {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.gradientimages.HeaderInverseGradientImage/DATB/eAFjYGBg-HFt3!!vn5gAGFQFdw__);
   background-repeat: repeat-x;
}

.rich-gradient-header {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.gradientimages.HeaderGradientImage/DATB/eAFjYGBg-P!9049r-5gAGWgFdw__);
   background-repeat: repeat-x;
}

.rich-gradient-tab {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.gradientimages.TabGradientImage/DATB/eAFjYGBg-H!v2P!!!5kAGQ8Fow__);
   background-repeat: repeat-x;
}

.rich-gradient-tab-inverse {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.gradientimages.TabInverseGradientImage/DATB/eAFjYGBg-A8E944xAQAaHQWj);
   background-repeat: repeat-x;
}

.rich-gradient-input {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.gradientimages.InputGradientImage/DATB/eAFjYGBg-Pflzf!!!5kAGkoF3g__);
   background-repeat: repeat-x;
}

.rich-gradient-menu-inverse {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.gradientimages.MenuInverseGradientImage/DATB/eAFjYGBg-Pflzf97x5gAGXUFhA__);
   background-repeat: repeat-x;
}

.rich-gradient-menu {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.gradientimages.MenuGradientImage/DATB/eAFjYGBg-H!v2L8vb5gAGMQFhA__);
   background-repeat: repeat-x;
}

.rich-gradient-button-inverse {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.gradientimages.ButtonInverseGradientImage/DATB/eAFjYGBg-P3s2r8vb5gAGSgFmA__);
   background-repeat: repeat-x;
}

.rich-gradient-button {
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.gradientimages.ButtonGradientImage/DATB/eAFjYGBg-Pflze9n15gAGZ0FmA__);
   background-repeat: repeat-x;
}