* {
    border-bottom-width: 0;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 0;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 0;
    border-top-width: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
body {
    background-color: white;
    color: black;
    font-family: Verdana,Arial,Helvetica,Sans-serif;
    font-size: 13px;
}
input[type="text"], input[type="password"], input[type="checkbox"], textarea, select {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: #CCD7E2;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #CCD7E2;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #CCD7E2;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #CCD7E2;
    border-top-style: solid;
    border-top-width: 1px;
}
input.inputError[type="text"], input.inputError[type="password"], input.inputError[type="checkbox"], textarea.inputError, select.inputError {
    border-bottom-color: red;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: red;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: red;
    border-top-color: red;
}
input[type="checkbox"]:focus, input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus {
    background-color: #FFEFB6;
}
input[type="checkbox"] {
    height: 16px;
    width: 16px;
}
input[type="button"], input[type="submit"] {
    cursor: pointer;
}
.divCustomClientLogo {
    background-repeat: no-repeat;
    height: 55px;
    left: 0;
    position: absolute;
    top: 0;
    width: 300px;
}
.divMainHeader {
    height: 170px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.divMainHeaderZIndex {
    z-index: 5;
}
.divMainBody {
    bottom: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 171px;
}
.divNavigation {
    height: 95%;
    left: 8px;
    padding-top: 4px;
    position: absolute;
    top: 7px;
    width: 120px;
}
.divBreadcrumb {
    height: 35px;
    left: 129px;
    padding-top: 7px;
    position: absolute;
    right: 0;
    top: 7px;
}
.lblBreadcrumb {
    margin-left: 16px;
}
.divContent {
    bottom: 0;
    left: 129px;
    position: absolute;
    right: 0;
    top: 43px;
}
.logo {
    background-image: url("../images/gip_logo.gif");
}
.navigationButton {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto auto;
    cursor: pointer;
    margin-bottom: 7px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 7px;
    min-height: 56px;
    padding-top: 60px;
    width: 108px;
}
.navigationButton:hover, .navigationButtonSelected {
    background-position: -108px 0;
    font-weight: bold;
}
.navigationButtonHome {
    background-image: url("../images/navigation/home.png");
}
.navigationButtonTrip {
    background-image: url("../images/navigation/travel.png");
}
.navigationButtonApplicationForLeave {
    background-image: url("../images/navigation/applicationForLeave.png");
}
.navigationButtonTimeBooking {
    background-image: url("../images/navigation/timeBooking.png");
}
.navigationButtonProfile {
    background-image: url("../images/navigation/profile.png");
}
.navigationButtonAdmin {
    background-image: url("../images/navigation/admin.png");
}
.navigationButtonHelp {
    background-image: url("../images/navigation/help.png");
}
#divWelcome {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("../images/main/top_bg.png");
    background-origin: padding-box;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 26px;
    padding-top: 30px;
    text-align: right;
}
#divWelcome input {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-image: url("../images/main/button_bg.png");
    background-position: 0 0;
    background-repeat: repeat-x;
    border-bottom-color: #CCD7E2;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #CCD7E2;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #CCD7E2;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #CCD7E2;
    border-top-style: solid;
    border-top-width: 1px;
    margin-left: 7px;
    margin-right: 250px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}
#divWelcome input:hover {
    background-position: 0 -18px;
}
#divMenu {
    height: 33px;
    position: relative;
}
#divMenu .right-menu-bg {
    background-image: url("../images/main/menu_bg.png");
    background-position: right top;
    background-repeat: no-repeat;
    height: 33px;
    position: absolute;
    right: 0;
    top: 0;
    width: 358px;
}
#divMenu .logo {
    background-image: url("../images/main/logo.png");
    background-position: right top;
    background-repeat: no-repeat;
    height: 33px;
    position: absolute;
    right: 25px;
    top: 0;
    width: 33px;
}
.rich-toolbar {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #B8D0E2;
    background-image: none;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 0;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 0;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: 0;
    empty-cells: show;
    height: 32px;
}
.rich-toolbar-item {
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: white;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    cursor: pointer;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.rich-ddmenu-label, div.ptravel-menu-item-top {
    background-image: url("../images/main/menu_button_bg.png");
    background-position: left top;
    background-repeat: repeat-x;
    border-bottom-color: #C5D1DE;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #C5D1DE;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #C5D1DE;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #C5D1DE;
    border-top-style: solid;
    border-top-width: 1px;
    height: 14px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
}
.rich-ddmenu-label:hover, div.ptravel-menu-item-top:hover {
    background-position: 0 -30px;
    border-bottom-color: #FC9537;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #FC9537;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #FC9537;
    border-top-color: #FC9537;
}
.rich-label-text-decor, .rich-menu-item-label {
    font-weight: normal;
}
.rich-menu-list-border {
    background-color: #B8D0E2;
    border-bottom-color: white;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: white;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: white;
    border-top-color: white;
}
.rich-menu-item, .rich-menu-group {
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}
.rich-menu-item-hover, .rich-menu-group-hover {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FC9537;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: medium;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: medium;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: medium;
}
.rich-menu-list-bg {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-image: none;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: medium;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: medium;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: medium;
}
.rich-menu-item-icon, .rich-menu-group-icon {
    display: none;
}
.rich-menu-node {
    right: -2px;
    top: 4px;
}
.rich-panel, .rich-stglpanel {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: medium;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: medium;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: medium;
}
.rich-stglpanel-header, .rich-panel-header {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #FAFCFE;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #CCD7E2;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #CCD7E2;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #CCD7E2;
    border-top-color: #CCD7E2;
    height: 19px;
    padding-left: 8px;
    padding-top: 6px;
}
.rich-tabpanel-content {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}
.divNavigation .rich-panel {
    border-bottom-color: #CCD7E2;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #CCD7E2;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #CCD7E2;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #CCD7E2;
    border-top-style: solid;
    border-top-width: 1px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.divNavigation .rich-panel-body {
    padding-bottom: 40px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 14px;
    text-align: center;
    width: 108px;
}
.divNavigation .rich-panel-header {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FAFCFE;
    background-image: none;
    border-bottom-color: #CCD7E2;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: medium;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: medium;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: medium;
    height: 19px;
    padding-top: 3px;
}
.rich-panelbar {
    border-bottom-color: #CCD7E2;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #CCD7E2;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #CCD7E2;
    border-top-color: #CCD7E2;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.rich-panelbar-b {
    height: 500px;
}
.rich-panelbar-content {
    padding-bottom: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 14px;
    text-align: center;
    width: 108px;
}
.rich-panelbar-header, .rich-panelbar-header-act {
    background-color: #FAFCFE;
    background-image: none;
    border-bottom-color: #CCD7E2;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 19px;
    padding-top: 3px;
}
.rich-table {
    border-bottom-color: #CCD7E2;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: separate;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #CCD7E2;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #CCD7E2;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #CCD7E2;
    border-top-style: solid;
    border-top-width: 1px;
}
.rich-table-thead, .rich-table-header, .rich-table-header-continue {
    background-color: #D9E6F0;
    background-image: none;
}
.rich-table-cell {
    border-bottom-color: white;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #CCD7E2;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    text-align: center;
    width: auto;
}
.rich-table-headercell {
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}
.rich-table-cell:last-child, .rich-table-subheadercell:last-child, .rich-table-headercell:last-child {
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 0;
}
.rich-table-cell .languageFlagImage {
    margin-bottom: -7px;
    margin-right: 8px;
}
.rich-table-subheader {
    background-color: #D9E6F0;
}
.rich-table-row, rich-table-subheader {
    line-height: 1em;
}
.rich-table-subheadercell {
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #CCD7E2;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    width: auto;
}
.rich-mpnl-mask-div-opaque {
    background-color: white;
    opacity: 0.75;
}
.rich-mpnl-content {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: medium;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: medium;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: medium;
}
.rich-messages.errorList {
    min-height: 110px;
}
.rich-mp-content-table {
    border-bottom-color: #9EB2C2;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #9EB2C2;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #9EB2C2;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #9EB2C2;
    border-top-style: solid;
    border-top-width: 1px;
}
.rich-mpnl-controls {
    right: 6px;
    top: 6px;
}
.rich-mpnl-header {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-image: url("../images/panel/modalPanel_header_bg.png");
    background-position: left top;
    background-repeat: repeat-x;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: medium;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: medium;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: medium;
    height: 18px;
    padding-bottom: 0;
    padding-left: 8px;
    padding-top: 4px;
}
.rich-mpnl-header-cell {
    border-bottom-color: #9EB2C2;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.rich-picklist-source-items, .rich-picklist-target-items {
    border-bottom-color: #CCD7E2;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #CCD7E2;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #CCD7E2;
    border-top-color: #CCD7E2;
}
.divToolbar {
    background-image: url("../images/main/toolbar_right_bg.png");
    background-position: right top;
    background-repeat: repeat-x;
    clear: both;
    height: 80px;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}
.toolbarGroup {
    background-image: url("../images/main/toolbar_left_bg.png");
    background-position: right top;
    background-repeat: no-repeat;
    display: inline-block;
    height: 80px;
    padding-left: 8px;
    padding-right: 40px;
}
.toolbarGroup h2 {
    font-size: 1em;
    font-weight: normal;
    height: 15px;
    margin-left: 22px;
    margin-top: 10px;
}
.toolbarButton {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: medium;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: medium;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: medium;
    height: 40px;
    margin-bottom: 0;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 5px;
    width: 40px;
}
.toolbarButton:hover, .toolbarButton_hovered {
    background-position: -40px 0;
}
input.toolbarButtonDisabled[type="button"], input.toolbarButtonDisabled[type="button"]:hover {
    background-position: -80px 0;
    cursor: default;
}
.toolbarButtonAdd {
    background-image: url("../images/toolbar/add.png");
}
.toolbarButtonCompanyAdd {
    background-image: url("../images/toolbar/company_add.png");
}
.toolbarButtonCompanyBack {
    background-image: url("../images/toolbar/company_back.png");
}
.toolbarButtonCompanyProtocol {
    background-image: url("../images/toolbar/company_protocol.png");
}
.toolbarButtonTripAdd {
    background-image: url("../images/toolbar/trip_add.png");
}
.toolbarButtonTripAddOthers {
    background-image: url("../images/toolbar/trip_add_others.png");
}
.toolbarButtonTripApprove {
    background-image: url("../images/toolbar/trip_approve.png");
}
.toolbarButtonTripArchive {
    background-image: url("../images/toolbar/trip_archive.png");
}
.toolbarButtonTripBack {
    background-image: url("../images/toolbar/trip_back.png");
}
.toolbarButtonTripCancel {
    background-image: url("../images/toolbar/trip_cancel.png");
}
.toolbarButtonTripCancelOthers {
    background-image: url("../images/toolbar/trip_cancel_others.png");
}
.toolbarButtonTripClose {
    background-image: url("../images/toolbar/trip_close.png");
}
.toolbarButtonTripCloseOthers {
    background-image: url("../images/toolbar/trip_close_others.png");
}
.toolbarButtonTripCloseAll {
    background-image: url("../images/toolbar/trip_close_all.png");
}
.toolbarButtonTripCollectionAdd {
    background-image: url("../images/toolbar/tripcollection_add.png");
}
.toolbarButtonTripCollectionAddOthers {
    background-image: url("../images/toolbar/tripcollection_add_others.png");
}
.toolbarButtonTripCollectionForward {
    background-image: url("../images/toolbar/tripcollection_forward.png");
}
.toolbarButtonTripCollectionForwardOthers {
    background-image: url("../images/toolbar/tripcollection_forward_others.png");
}
.toolbarButtonTripCollectionPrint {
    background-image: url("../images/toolbar/tripcollection_print.png");
}
.toolbarButtonTripCollectionPrintOthers {
    background-image: url("../images/toolbar/tripcollection_print_others.png");
}
.toolbarButtonTripCollectionApprove {
    background-image: url("../images/toolbar/tripcollection_approve.png");
}
.toolbarButtonTripCollectionReject {
    background-image: url("../images/toolbar/tripcollection_reject.png");
}
.toolbarButtonTripCopy {
    background-image: url("../images/toolbar/trip_copy.png");
}
.toolbarButtonTripCopyOthers {
    background-image: url("../images/toolbar/trip_copy_others.png");
}
.toolbarButtonTripForward {
    background-image: url("../images/toolbar/trip_forward.png");
}
.toolbarButtonTripForwardOthers {
    background-image: url("../images/toolbar/trip_forward_others.png");
}
.toolbarButtonTripOpenAll {
    background-image: url("../images/toolbar/trip_openall.png");
}
.toolbarButtonTripPrint {
    background-image: url("../images/toolbar/trip_print.png");
}
.toolbarButtonTripPrintOthers {
    background-image: url("../images/toolbar/trip_print_others.png");
}
.toolbarButtonTripProtocol {
    background-image: url("../images/toolbar/trip_protocol.png");
}
.toolbarButtonTripProtocolOthers {
    background-image: url("../images/toolbar/trip_protocol_others.png");
}
.toolbarButtonTripReject {
    background-image: url("../images/toolbar/trip_reject.png");
}
.toolbarButtonTripReopen {
    background-image: url("../images/toolbar/trip_reopen.png");
}
.toolbarButtonTripReopenOthers {
    background-image: url("../images/toolbar/trip_reopen_others.png");
}
.toolbarButtonTripSetFlag {
    background-image: url("../images/toolbar/trip_setflag.png");
}
.toolbarButtonTripViewCockpit {
    background-image: url("../images/toolbar/trip_view_cockpit.png");
}
.toolbarButtonTripViewTabs {
    background-image: url("../images/toolbar/trip_view_tabs.png");
}
.toolbarButtonTripWithdraw {
    background-image: url("../images/toolbar/trip_withdraw.png");
}
.toolbarButtonTripWithdrawOthers {
    background-image: url("../images/toolbar/trip_withdraw_others.png");
}
.toolbarButtonUserAdd {
    background-image: url("../images/toolbar/user_add.png");
}
.toolbarButtonUserBack {
    background-image: url("../images/toolbar/user_back.png");
}
.toolbarButtonUserBlock {
    background-image: url("../images/toolbar/user_block.png");
}
.toolbarButtonUserProtocol {
    background-image: url("../images/toolbar/user_protocol.png");
}
.toolbarButtonUserUnblock {
    background-image: url("../images/toolbar/user_unblock.png");
}
.toolbarButtonOBT {
    background-image: url("../images/toolbar/trip_openWSOBT.png");
}
.headInfoHeader h1 {
    font-size: 1.6em;
    font-weight: normal;
}
.headInfoDetails {
    display: inline-block;
    margin-top: 16px;
}
.headInfoDetails td.mid {
    width: 32px;
}
.headInfoDetails .big {
    font-weight: bold;
    margin-left: 5px;
}
.dynamicWorkflowStages {
    height: 34px;
    left: 30%;
    position: absolute;
    text-align: center;
    top: 10px;
}
.dynamicWorkflowStages div {
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block;
    height: 34px;
    margin-right: 10px;
    width: 34px;
}
.dynamicWorkflowStages div.enumstaticWorkflowStaterequestedForApproval {
    background-image: url("../images/dynamicWorkflowStates/enumstaticWorkflowStaterequestedForApproval.png");
}
.dynamicWorkflowStages div.enumstaticWorkflowStatereceivedRequestForApproval {
    background-image: url("../images/dynamicWorkflowStates/enumstaticWorkflowStatereceivedRequestForApproval.png");
}
.dynamicWorkflowStages div.enumstaticWorkflowStatecancelled {
    background-image: url("../images/dynamicWorkflowStates/enumstaticWorkflowStatecancelled.png");
}
.dynamicWorkflowStages div.enumstaticWorkflowStaterejected {
    background-image: url("../images/dynamicWorkflowStates/enumstaticWorkflowStaterejected.png");
}
.dynamicWorkflowStages div.enumstaticWorkflowStatereceivedRejectionByTraveler {
    background-image: url("../images/dynamicWorkflowStates/enumstaticWorkflowStatereceivedRejectionByTraveler.png");
}
.dynamicWorkflowStages div.enumstaticWorkflowStatereceivedRejectionByApprover {
    background-image: url("../images/dynamicWorkflowStates/enumstaticWorkflowStatereceivedRejectionByApprover.png");
}
.dynamicWorkflowStages div.enumstaticWorkflowStateapproved {
    background-image: url("../images/dynamicWorkflowStates/enumstaticWorkflowStateapproved.png");
}
.dynamicWorkflowStages div.enumstaticWorkflowStatereceivedFinalApprovalByTraveler {
    background-image: url("../images/dynamicWorkflowStates/enumstaticWorkflowStatereceivedFinalApprovalByTraveler.png");
}
.dynamicWorkflowStages div.enumstaticWorkflowStatecreated {
    background-image: url("../images/dynamicWorkflowStates/enumstaticWorkflowStatecreated.png");
}
.dynamicWorkflowStages div.Reisender {
    background-image: url("../images/dynamicWorkflowStates/Traveler.png");
}
.dynamicWorkflowStages div.Genehmiger {
    background-image: url("../images/dynamicWorkflowStates/Approver.png");
}
.dynamicWorkflowStages div.ReisenderFinale {
    background-image: url("../images/dynamicWorkflowStates/Final.png");
}
.dynamicWorkflowStages div.dynamicWorkflowStageSpacer {
    background-image: url("../images/dynamicWorkflowStates/dynamicWorkflowStageSpacer.png");
}
.nobFlag {
    display: inline-block;
    font-size: 0.8em;
    margin-left: 25px;
}
.tripSummaryInfoPanel {
    position: absolute;
    right: 28px;
    top: -30px;
    width: 418px;
    z-index: 1;
}
.tripSummaryInfoPanel .inputBox label, .tripSummaryInfoPanelSmall .inputBox label {
    width: 65%;
}
.tripSummaryInfoPanel .inputBox .output, .tripSummaryInfoPanelSmall .inputBox .output {
    width: 33%;
}
.tripSummaryInfoPanel .inputBox .output .outputText, .tripSummaryInfoPanelSmall .inputBox .output .outputText {
    float: right;
}
.tripSummaryInfoPanel .rich-stglpanel-body {
    border-bottom-color: #CCD7E2;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #CCD7E2;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #CCD7E2;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
}
.tripSummaryInfoPanelSmall {
    border-bottom-color: #CCD7E2;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #CCD7E2;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #CCD7E2;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #CCD7E2;
    border-top-style: solid;
    border-top-width: 1px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    position: absolute;
    right: 29px;
    top: 0;
    width: 400px;
}
.tripSummaryInfoPanel .hr {
    background-color: #CCD7E2;
    clear: both;
    height: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
}
.headInfoDetails .separator {
    background-color: #F4F8FE;
    height: 1px;
    margin-bottom: 3px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3px;
    width: 100%;
}
.statusStart {
    background-color: transparent;
    background-image: url("../images/spinner.gif");
    height: 16px;
    position: absolute;
    right: 33px;
    top: 10px;
    width: 16px;
    z-index: 100;
}
.home {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.home p {
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
}
.home li {
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
}
.home ul {
    list-style-image: url("../images/login/dot.png");
    margin-bottom: 5px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5px;
}
.divBrowser {
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position: absolute;
    right: 0;
    top: 0;
}
.divBrowser .rich-stglpanel-body {
    min-height: 30px;
}
.divBrowserInline {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}
.divBrowserTripHeader {
    padding-bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0;
}
.divBrowserTrip {
    top: 110px;
}
.divBrowserTrip .rich-stglpanel {
    margin-bottom: 10px;
}
.divFilterContainer, .divSearchContainer {
    margin-bottom: 10px;
    overflow-y: auto;
}
.divDetailContainer {
    margin-bottom: 10px;
    overflow-y: auto;
}
.divListContainer {
    overflow-y: auto;
}
.divReportParametersContainer {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: medium;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: medium;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: medium;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    overflow-y: auto;
    right: 0;
    top: 0;
}
.divReportParametersHeader {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: medium;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: medium;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: medium;
}
.divReportParametersBody {
    background-color: #F3F3F3;
}
.tripListBrowser {
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    right: 0;
    top: 0;
}
.confirmPanel {
    width: 100%;
}
.confirmTextPanel {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.confirmButtonPanel {
    text-align: right;
}
.editButtonPanel, .viewButtonPanel {
    clear: both;
    float: right;
    height: 40px;
    margin-right: 12px;
}
.editErrorPanel {
    clear: left;
    margin-left: 10px;
}
.panelButton {
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 40px;
    width: 40px;
}
.panelButton:hover {
    background-position: -40px 0;
}
.panelButtonDisabled, .panelButtonDisabled:hover {
    background-position: -80px 0;
    cursor: default;
}
.cancelButton {
    background-image: url("../images/form/cancel.png");
}
.closeButton {
    background-image: url("../images/form/close.png");
}
.editButton {
    background-image: url("../images/form/edit.png");
}
.saveButton {
    background-image: url("../images/form/save.png");
    margin-right: 6px;
}
.saveAndOpenButton {
    background-image: url("../images/form/save.png");
    margin-right: 6px;
}
.yesButton {
    background-image: url("../images/form/ok.png");
    margin-right: 6px;
}
.noButton {
    background-image: url("../images/form/cancel.png");
}
.searchButton {
    background-image: url("../images/form/search.png");
    margin-right: 6px;
}
.resetSearchButton {
    background-image: url("../images/form/search_delete.png");
}
.modalDlgCloseButton {
    background-image: url("../images/form/closeDlg.png");
    background-position: left top;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 16px;
    width: 16px;
}
.modalDlgCloseButton:hover {
    background-position: -16px 50%;
}
.editPanel, .viewPanel, .displayPanel, .searchPanel {
    text-align: right;
}
.editPanel {
    clear: both;
    margin-left: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 5px;
}
.viewPanel {
    clear: both;
    margin-left: 10px;
    margin-right: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
.displayPanel {
    margin-left: 8px;
    margin-right: 90px;
}
.searchPanel {
    margin-left: 8px;
    margin-right: 187px;
}
.buttonSearchPanel, .buttonInputPanel {
    float: right;
    height: 0;
}
.editPanel div.hr, .viewPanel div.hr, .displayPanel div.hr, .searchPanel div.hr {
    clear: both;
    height: 1px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    text-align: left;
    width: 100%;
}
.editPanel div.hr.hide, .viewPanel div.hr.hide, .displayPanel div.hr.hide, .searchPanel div.hr.hide {
    display: none;
}
div.hr .hrLine {
    background-color: #CCD7E2;
    height: 1px;
    width: 96.8%;
}
.leftPanel {
    display: inline-block;
    float: left;
    text-align: left;
    vertical-align: top;
    width: 49.5%;
}
.rightPanel {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 49.5%;
}
.fullPanel {
    text-align: left;
}
.inputBox {
    display: inline-block;
    padding-bottom: 4px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 4px;
    width: 100%;
}
.inputBox label {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    width: 52%;
}
.fullPanel .inputBox label {
    width: 25.7%;
}
.inputBox .input, .inputBox .output {
    display: inline-block;
    width: 40%;
}
.fullPanel .inputBox .input, .fullPanel .inputBox .output {
    display: inline-block;
    width: 70.3%;
}
.fullPanel .inputBox .dataTable .input, .fullPanel .inputBox .dataTable .output {
    width: 100%;
}
.fullPanel .inputBox .dataTable .input.error {
    width: 80%;
}
.input input[type="text"], .input input[type="password"], .input textarea, .input select[multiple="multiple"] {
    width: 100%;
}
.input select {
    width: 100.5%;
}
.input input.withUnit[type="text"], .input input.withUnit[type="password"], .input select.withUnit[multiple="multiple"] {
    width: 66%;
}
.input .unit, .input .timeUnit, .input .timeOutput, .output .unit, .output .timeUnit, .output .timeOutput {
    margin-left: 8px;
}
.input select.withUnit {
    width: 66.5%;
}
.fullPanel .input select.withUnit {
    width: 90%;
}
.input input.dateInput[type="text"] {
    margin-top: -2px;
    width: 38%;
}
.input input.timeInput[type="text"] {
    float: none;
    width: 22%;
}
.input .calendarIcon {
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -2px;
}
.input .timeUnit {
    margin-left: 8px;
}
.fullPanel .dataTable .input input[type="checkbox"] {
    float: none;
    margin-left: 7px;
    text-align: center;
}
.helpDot {
    background-image: url("../images/table/information.png");
    background-position: left top;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 20px;
    margin-right: 8px;
    margin-top: -1px;
    width: 20px;
}
.exchangeRateButton {
    background-image: url("../images/table/view.png");
    height: 20px;
    width: 20px;
}
.input input.exchangeRate[type="text"] {
    width: 25%;
}
.fullPanel .input input.exchangeRate[type="text"] {
    width: 10%;
}
.helpDot:hover {
    background-position: -20px top;
}
.inputRequired {
    color: red;
    margin-left: 8px;
}
.inputSmallErrorIcon {
    background-image: url("../images/icons/error_marker.gif");
    background-position: left top;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    margin-left: 4px;
    margin-top: 1px;
    vertical-align: top;
    width: 16px;
}
.inputErrorIcon {
    background-image: url("../images/icons/error_marker.gif");
    background-position: left top;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}
.inputError {
    color: red;
}
.editErrorPanel .inputErrorIcon {
    position: absolute;
}
.editErrorPanel .rich-messages {
    padding-top: 6px;
}
.editErrorPanel .rich-messages dt {
    margin-bottom: 4px;
}
.editErrorPanel .rich-messages-label {
    color: red;
    margin-left: 25px;
}
.dataTable {
    table-layout: fixed;
    width: 100%;
}
.dataTableFooter {
    height: 38px;
}
.datascrollerText {
    float: right;
    margin-top: 17px;
}
.pageInfo {
    float: left;
    margin-left: 8px;
    margin-top: 10px;
}
.pageInfo select {
    margin-left: 10px;
    width: 50px;
}
.rich-datascr {
    float: right;
    margin-bottom: 0;
    margin-left: 14px;
    margin-right: 8px;
    margin-top: 8px;
}
.rich-dtascroller-table {
    background-color: white;
    border-bottom-color: #CCD7E2;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #CCD7E2;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #CCD7E2;
    border-top-color: #CCD7E2;
}
.rich-datascr-button-dsbld {
    color: #CCD7E2;
}
.rich-datascr-button, .rich-datascr-ctrls-separator {
    background-color: #ECF3FD;
    border-bottom-color: #CCD7E2;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #CCD7E2;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #CCD7E2;
    border-top-color: #CCD7E2;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
}
.rich-datascr-inact:hover {
    background-color: #FF9330;
    border-top-color: #FF9330;
}
.rowEven {
    background-color: #ECF3FD;
}
.rowOdd {
    background-color: #DFEBFC;
}
.rowSelected {
    background-color: #BED6F8;
}
.rowEven:hover, .rowOdd:hover {
    background-color: #FF9330;
}
.colAuto {
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
}
.colAuto span {
    white-space: nowrap;
}
.colCheckbox {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 30px;
}
.colCurrencyName {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: 100px;
}
.colCurrency {
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
    width: 100px;
}
.colCurrencyBig {
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
    width: 140px;
}
.colDate {
    width: 80px;
}
.colDouble {
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
    width: 100px;
}
.colIcon {
    width: 30px;
}
.colIcon2x {
    width: 60px;
}
.colIcon3x {
    width: 90px;
}
.colIcon7x {
    width: 210px;
}
.colPosition {
    width: 80px;
}
.colTime {
    width: 60px;
}
.header {
    text-align: center;
}
.header.specialBottom {
    border-bottom-color: white;
}
.header.noEndCol {
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #CCD7E2;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
}
.header.endCol {
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 0;
}
.buttonIcon, .dataTableIcon {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: medium;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: medium;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: medium;
    height: 20px;
    width: 20px;
}
.dataTableIcon {
    display: inline-block;
}
input.dataTableIcon[type="button"]:hover, input.buttonIcon[type="button"]:hover {
    background-position: -20px 50%;
}
.iconDisabled, input.dataTableIcon[disabled="disabled"], input.buttonIcon[disabled="disabled"], input.dataTableIcon[disabled="disabled"]:hover, input.buttonIcon[disabled="disabled"]:hover {
    background-position: -40px 50%;
    cursor: default;
}
.iconSpacer {
    background-image: url("../images/icons/spacer.gif");
}
.iconAdd {
    background-image: url("../images/table/add.png");
}
.iconDelete {
    background-image: url("../images/table/delete.png");
}
.iconDone {
    background-image: url("../images/icons/done.gif");
}
.iconEdit {
    background-image: url("../images/table/edit.png");
}
.iconEditAll {
    background-image: url("../images/table/edit_all.png");
}
.iconJobStart {
    background-image: url("../images/table/job_start.png");
}
.iconReset {
    background-image: url("../images/icons/no.gif");
}
.iconSave {
    background-image: url("../images/icons/save.gif");
}
.iconSearch {
    background-image: url("../images/icons/search.gif");
}
.iconSelect {
    background-image: url("../images/table/select.png");
}
.iconView {
    background-image: url("../images/table/view.png");
}
.iconViewAll {
    background-image: url("../images/table/view_all.png");
}
.iconClose {
    background-image: url("../images/icons/close.gif");
}
.iconNo {
    background-image: url("../images/table/no.png");
}
.iconYes {
    background-image: url("../images/table/yes.png");
}
.iconNotRequired {
    background-image: url("../images/icons/not_required.gif");
}
.iconUp {
    background-image: url("../images/table/arrow_up.png");
}
.iconDown {
    background-image: url("../images/table/arrow_down.png");
}
.iconArchivedDocuments {
    background-image: url("../images/table/archived_documents.png");
}
.iconArchivedDocumentsMultiple {
    background-image: url("../images/table/archived_documents_multiple.png");
}
.languageFlagImage {
    display: inline-block;
    height: 24px;
    width: 24px;
}
.languageFlagImage_de {
    background-image: url("../images/flags/de.png");
}
.languageFlagImage_en {
    background-image: url("../images/flags/en.png");
}
.languageFlagImage_fr {
    background-image: url("../images/flags/fr.png");
}
.input .remarks, .input .remarksMoreCount {
    margin-top: 5px;
}
.remarksMoreCount {
    font-size: 0.8em;
}
.remarks {
    list-style-type: none;
}
.remark .header {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}
.remark .text {
    margin-bottom: 5px;
}
.remarks.hide, .remarksMoreCount.hide {
    display: none;
}
.remarkInput {
    display: block;
}
.remarkViewToggleIcon {
    background-image: url("../images/panel/panel_close3.png");
    background-position: 0 -2px;
    cursor: pointer;
    float: right;
    height: 16px;
    width: 20px;
}
.remarkViewToggleIcon.down {
    background-image: url("../images/panel/panel_open3.png");
}
.dialogTest {
    height: 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    z-index: 6;
}
.errorTest {
    height: 10px;
    position: absolute;
    right: 10px;
    top: 0;
    width: 10px;
    z-index: 6;
}
.wrapper {
    height: 768px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 1024px;
}
.horizontalLine {
    background-color: #DADADA;
    height: 1px;
}
.systemMessages h2, .loginFormHeader h2 {
    color: #E46600;
    font-size: 1.3em;
    font-weight: bold;
}
.loginHeader .horizontalLine {
    margin-left: 98px;
}
#logo {
    float: left;
    margin-bottom: 38px;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 10px;
}
#logoCaption {
    color: #3C5D7D;
    font-size: 1.5em;
    padding-bottom: 16px;
    padding-top: 25px;
}
#middle {
    clear: both;
}
#left-col {
    float: left;
}
#left-col h2 {
    color: #E46600;
    margin-bottom: 27px;
    margin-left: 24px;
}
.fotos {
    background-image: url("../images/fotos.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    display: inline-block;
    height: 524px;
    width: 637px;
}
.verticalLine {
    background-image: url("../images/verticalLine.png");
    background-position: left top;
    background-repeat: no-repeat;
    display: inline-block;
    height: 517px;
    width: 1px;
}
#right-col {
    margin-left: 640px;
}
#right-col .horizontalLine {
    margin-bottom: 42px;
    margin-left: 8px;
    margin-right: 34px;
    margin-top: 42px;
}
.inputData, .systemMessages, #logoutdata {
    margin-left: 15px;
}
.loginFormHeader {
    padding-top: 55px;
}
.inputData h2, #logoutdata h2 {
    padding-bottom: 14px;
}
.loginInputBox {
    margin-bottom: 7px;
}
.statusSpinner {
    background-image: url("../images/spinner.gif");
    background-position: left top;
    background-repeat: no-repeat;
    float: right;
    height: 16px;
    margin-right: 20px;
    width: 16px;
}
.loginInputBox input {
    border-bottom-color: #DADADA;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #DADADA;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #DADADA;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #DADADA;
    border-top-style: solid;
    border-top-width: 1px;
    float: right;
    height: 17px;
    width: 209px;
}
.loginInputBox input:focus {
    background-color: #FFEFB6;
}
.loginInputBox input, .loginFooter {
    margin-right: 42px;
}
.loginInputBox label.lostPassw_intro {
    font-size: 0.8em;
    padding-right: 42px;
}
.loginInputBox .captchaImage {
    margin-left: 117px;
}
#loginStatus { background-color: rgb(255, 255, 255); margin-right: 42px; }

.inputData .rich-messages {
    color: red;
    font-size: 0.8em;
    margin-top: 14px;
}
.loginFooter {
    margin-top: 9px;
    text-align: right;
}
.loginFooter a, .loginInputBox a {
    color: black;
    font-size: 0.8em;
    padding-right: 19px;
}
.loginFooter input[type="submit"] {
    background-image: url("../images/button_bg.png");
    background-position: left top;
    background-repeat: repeat-x;
    border-bottom-color: #CCD7E2;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #CCD7E2;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #CCD7E2;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #CCD7E2;
    border-top-style: solid;
    border-top-width: 1px;
    width: 76px;
}
.loginFooter input[type="submit"]:hover {
    background-position: 0 -18px;
    cursor: pointer;
}
.loginFooter .cancelButton {
    margin-right: 6px;
}
.systemMessages h2 {
    padding-bottom: 14px;
}
.systemMessages ul {
    list-style-image: url("../images/login/dot.png");
    margin-left: 19px;
}
.systemMessages li {
    padding-bottom: 20px;
}
.red-bold {
    color: red;
    font-weight: bold;
}
.footer {
    clear: both;
    padding-top: 5px;
}
.versionInfo {
    color: #999999;
    font-size: 0.8em;
}
.footer .horizontalLine {
    background-color: #3C5D7D;
    height: 1px;
}
.footerImage {
    background-image: url("../images/footer.png");
    background-position: left top;
    background-repeat: no-repeat;
    height: 67px;
    width: 1024px;
}
.approveRejectMessages {
    margin-top: 20px;
}
.approveRejectMessages .errorLabel {
    color: red;
    font-size: 1.2em;
}
.approveRejectMessages .infoLabel {
    color: green;
    font-size: 1.2em;
}

.loginFormElements {
	width: 100%; 
	padding-right: 0;
}
.loginFormLabel {
	text-align: left;
	vertical-align: top;
}
.loginFormInput {
	text-align: right;
	vertical-align: top;
}
.loginFormInputField, .loginFormInputFieldError {
   width: 209px;
   height: 17px;
   margin-bottom: 5px;
}
.loginFormInputFieldError {
   background-color: #fbb;
}
