.rich-container input,.rich-input,.rich-container select,.rich-select,.rich-container textarea,.rich-textarea,.rich-container button,.rich-button,.rich-container keygen,.rich-keygen,.rich-container isindex,.rich-isindex
   {
   border-width: 1px;
   border-color: #CCD7E2;
   color: #000;
}

.rich-container * |button,.rich-button {
   border-width: 1px;
   background-repeat: repeat-x;
   background-position: top left;
}

.rich-button,.rich-container button[type="button"],.rich-button-button,.rich-container button[type="reset"],.rich-button-reset,.rich-container button[type="submit"],.rich-button-submit,.rich-container input[type="reset"],.rich-input-reset,.rich-container input[type="submit"],.rich-input-submit,.rich-container input[type="button"],.rich-input-button
   {
   border-width: 1px;
   background-repeat: repeat-x;
   background-position: top left;
}

.rich-container * |button,.rich-button {
   border-color: #CCD7E2;
   font-size: 1em;
   font-family: Verdana, Arial, Helvetica, Sans-serif;
   color: #000;
   background-color: #BED6F8;
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.images.ButtonBackgroundImage/DATB/eAFjYGBg-P!9049r-5gAGWgFdw__);
}

.rich-button,.rich-container button[type="button"],.rich-button-button,.rich-container button[type="reset"],.rich-button-reset,.rich-container button[type="submit"],.rich-button-submit,.rich-container input[type="reset"],.rich-input-reset,.rich-container input[type="submit"],.rich-input-submit,.rich-container input[type="button"],.rich-input-button
   {
   border-color: #CCD7E2;
   font-size: 1em;
   font-family: Verdana, Arial, Helvetica, Sans-serif;
   color: #000;
   background-color: #BED6F8;
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.images.ButtonBackgroundImage/DATB/eAFjYGBg-P!9049r-5gAGWgFdw__);
}

.rich-container * |button[disabled] {
   color: #8DB7F3;
   background-color: #ccc;
   border-color: #ccc;
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.images.ButtonDisabledBackgroundImage/DATB/eAFjYGBg-Pjx45kzZ5gAGCsFOg__);
}

.rich-button-disabled,.rich-container button[type="button"][disabled],.rich-button-button-disabled,.rich-container button[type="reset"][disabled],.rich-button-reset-disabled,.rich-container button[type="submit"][disabled],.rich-button-submit-disabled,.rich-container input[type="reset"][disabled],.rich-input-reset-disabled,.rich-container input[type="submit"][disabled],.rich-input-submit-disabled,.rich-container input[type="button"][disabled],.rich-input-button-disabled
   {
   color: #8DB7F3;
   background-color: #ccc;
   border-color: #ccc;
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.images.ButtonDisabledBackgroundImage/DATB/eAFjYGBg-Pjx45kzZ5gAGCsFOg__);
}

.rich-container * |textarea{
   border-width: 1px;
   border-style: inset;
   background-repeat: no-repeat;
   background-position: 1px 1px;
}

.rich-textarea,.rich-container textarea[type="textarea"],.rich-textarea-textarea,.rich-container input[type="text"],.rich-input-text,.rich-container input[type="password"],.rich-input-password,.rich-container select,.rich-select
   {
   border-width: 1px;
   border-style: inset;
   background-repeat: no-repeat;
   background-position: 1px 1px;
}

.rich-container * |textarea{
   border-color: #CCD7E2;
   font-size: 1em;
   font-family: Verdana, Arial, Helvetica, Sans-serif;
   color: #000;
   background-color: #fff;
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.images.InputBackgroundImage/DATB/eAFjYGBg-Pflzf!!!5kAGkoF3g__);
}

.rich-textarea,.rich-container textarea[type="textarea"],.rich-textarea-textarea,.rich-container input[type="text"],.rich-input-text,.rich-container input[type="password"],.rich-input-password,.rich-container select,.rich-select
   {
   border-color: #CCD7E2;
   font-size: 1em;
   font-family: Verdana, Arial, Helvetica, Sans-serif;
   color: #000;
   background-color: #fff;
   background-image:
      url(/osterode/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.images.InputBackgroundImage/DATB/eAFjYGBg-Pflzf!!!5kAGkoF3g__);
}

.rich-container * |textarea[disabled],.rich-container * |select[disabled]
   {
   color: #CCD7E2;
}

.rich-textarea-disabled,.rich-container textarea[type="textarea"][disabled],.rich-textarea-textarea-disabled,.rich-container input[type="text"][disabled],.rich-input-text-disabled,.rich-container input[type="password"][disabled],.rich-input-password-disabled,.rich-container select[disabled],.rich-select-disabled
   {
   color: #CCD7E2;
}